<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Είσοδος - Node Network</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="login-container">
    <h1>Επιλογή Περιφερειακής Πυροσβεστικής Διοίκησης</h1>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-danger">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('main.set_region') }}" method="post">
      <div class="form-group">
        <label for="region">Επιλέξτε Πυροσβεστική Διοίκηση:</label>
        <select id="region" name="region" required>
          <option value="">-- Επιλέξτε --</option>
            <option value="Αρχηγείο / Ε.Σ.Κ.Ε.ΔΙ.Κ.">Αρχηγείο / Ε.Σ.Κ.Ε.ΔΙ.Κ.</option>
          <option value="Ανατολικής Μακεδονίας και Θράκης">ΠΕΚΕ Ανατολικής Μακεδονίας και Θράκης</option>
          <option value="Κεντρικής Μακεδονίας">ΠΕΚΕ Κεντρικής Μακεδονίας</option>
          <option value="Δυτικής Μακεδονίας">ΠΕΚΕ Δυτικής Μακεδονίας</option>
          <option value="Ηπείρου">ΠΕΚΕ Ηπείρου</option>
          <option value="Θεσσαλίας">ΠΕΚΕ Θεσσαλίας</option>
          <option value="Ιονίων Νήσων">ΠΕΚΕ Ιονίων Νήσων</option>
          <option value="Δυτικής Ελλάδας">ΠΕΚΕ Δυτικής Ελλάδας</option>
          <option value="Στερεάς Ελλάδας">ΠΕΚΕ Στερεάς Ελλάδας</option>
          <option value="Πελοποννήσου">ΠΕΚΕ Πελοποννήσου</option>
          <option value="Αττικής">ΠΕΚΕ Αττικής</option>
          <option value="Βορείου Αιγαίου">ΠΕΚΕ Βορείου Αιγαίου</option>
          <option value="Νοτίου Αιγαίου">ΠΕΚΕ Νοτίου Αιγαίου</option>
          <option value="Κρήτης">ΠΕΚΕ Κρήτης</option>
        </select>
      </div>
      <button type="submit">Επιβεβαίωση</button>
    </form>
  </div>
</body>
</html>